<div class="container eclass-page">
  <div class="row">
    <%= render :partial => "#{component('card', 'notice')}", :locals => {:notice => @student_data} %>
  </div>
  <div class="row">
    <div class="col s12">
      <div class="card white darken-1">
        <div class="card-content dark-text">
          <span class="card-title"><%= @eclass_info[0] %></span>
          <p>수업 미니 eClass</p>
        </div>
        <div class="card-action">
          <%= link_to '타임머신', timemachine_path(:professor => @eclass_professor[10]) %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <%= render :partial => "#{component('card', 'professor')}", :locals => {:professor => @eclass_professor} %>
    <%= render :partial => 'eclass_info' %>
  </div>
  <% if current_user.has_role? :admin %>
      <%= @eclass_students %>
      <div class="row">
        <%= render :partial => "#{component('card', 'people')}", :locals => {:people => @eclass_students} %>
      </div>
  <% end %>
  <div class="row">
    <%= render :partial => "#{component('card', 'notice_list')}", :locals => {:notice_list => @eclass_notice_list} %>
  </div>
  <div class="row">
    <%= render :partial => "#{component('card', 'content_list')}", :locals => {:content_list => @eclass_content_list} %>
  </div>
  <div class="row">
    <%= render :partial => "#{component('card', 'share_list')}", :locals => {:share_list => @eclass_share_list} %>
  </div>
</div>