<div class="container eclass-page">
  <div class="row">
    <%= render :partial => "#{component('card', 'notice')}", :locals => {:notice => @student_data} %>
  </div>
  <div class="row">
    <div class="col s12">
      <div class="card-panel teal">
        <span class="white-text">
          <%= @course_name %> 수업 미니 eClass
        </span>
      </div>
    </div>
  </div>
  <div class="row">
    <%= render :partial => "#{component('card', 'professor')}", :locals => {:professor => @eclass_professor} %>
    <%= render :partial => 'eclass_info' %>
  </div>
  <div class="row">
    <%= render :partial => "#{component('card', 'people')}", :locals => {:people => @eclass_students} %>
  </div>
  <div class="row">
    <%= render :partial => "#{component('card', 'notice_list')}", :locals => {:notice_list => @eclass_notice_list} %>
  </div>
  <div class="row">
    <%= render :partial => "#{component('card', 'content_list')}", :locals => {:content_list => @eclass_content_list} %>
  </div>
</div>

<%= @test %>
<%= @eclass_professor[10] %>
<%= link_to '타임머신', timemachine_path(:professor => @eclass_professor[10]) %>
