<div class="col s12">
  <div class="card white darken-1">
    <div class="card-content dark-text">
      <span class="card-title"><%= strip_tags(CGI.unescapeHTML(find_by_key(@notice_detail, 'lecturenameboardtitle')).html_safe) %><span class="badge"><%= find_by_key(@notice_detail, 'boarddate') %> <%= find_by_key(@notice_detail, 'username') %> (<%= find_by_key(@notice_detail, 'boardhit') %>번 조회됨)</span></span>
      <div class="card-panel grey lighten-5">
          <span class="dark-text">
            <%= CGI.unescapeHTML(find_by_key(@notice_detail, 'textcontent')).html_safe %>
          </span>
      </div>
    </div>
    <div class="card-action">
      <% find_by_key(@notice_detail, 'fileintro').split('|').each do |file| %>
          <%= link_to "#{file.split('*')[1]} (#{(file.split('*')[2].to_f / 1.0.megabyte).round(2)}mb)", ask_notice_file_url(:filename => file.split('*')[1], :filesysname => file.split('*')[0], :filetype => file.split('*')[3]), class: 'collection-item' %>
      <% end %>
    </div>
  </div>
</div>