<div class="col s12 m6 l4">
  <div class="card course-card white darken-1">
    <div class="card-content dark-text">
      <span class="card-title"><%= course.name %></span>
      <p>
        교수명 : <%= course.professor_name %><br>
        과목분류 : <%= course.major %><br>
        수업정보<br>
        <%= CGI.unescapeHTML(course.location).html_safe %>
      </p>
    </div>
    <div class="card-action">
      <%= link_to 'eClass', eclass_path(:student => params[:student], :course => course.name, :professor => course.professor_name) %>
    </div>
  </div>
</div>
