<div class="col s12">
  <ul class="collapsible" data-collapsible="accordion">
    <li>
      <div class="collapsible-header profile-header"><span class="badge">자세히 보기</span><i class="fa fa-users"></i>수강생 보기</div>
      <div class="card white darken-1 collapsible-body profile-body">
        <ul class="collection">
          <li class="collection-item">해당과목의 수강생 목록입니다.</li>
        </ul>
        <div class="collection notice-collection">
          <ul class="collapsible" data-collapsible="accordion">
            <% resolve_xml(people, '</map>').each_with_index do |profile, index| %>
                <% if filter_by_sub_string(profile, %w(msgCode)) %><!-- 메세지 값 필터 -->
                    <li>
                      <div class="collapsible-header profile-header"><span class="badge">자세히 보기</span><i><%= index + 1 %></i><%= find_by_key(profile, 'username') %> 학우님</div>
                      <div class="card white darken-1 collapsible-body profile-body">
                        <div class="card-content dark-text">
                          <span class="card-title"><%= find_by_key(profile, 'collegesubjectname') %> <%= find_by_key(profile, 'probshyr') %>학년 (<%= find_by_key(profile, 'userid').split(//).first(4).join %>년도 입학)</span>
                          <% if current_user.has_role? :admin %>
                              <%= image_tag "http://cauid.cau.ac.kr/Symtra_Issue/IssueShowImage.asp?IDNo=#{find_by_key(profile, 'userid')}", height: '100px', src: 'Image Not Found', onerror: 'this.error=null;this.src="/assets/no_user.png"' %>
                              <p>
                                관리자 계정용 정보<br>
                                학번 : <%= find_by_key(profile, 'userid') %><br>
                                메일 : <%= find_by_key(profile, 'email') %><br>
                                폰번 : <%= find_by_key(profile, 'userhp') %>
                              </p>
                          <% end %>
                        </div>
                        <div class="card-action">
                          <% unless params[:controller]=='parser' %>
                              <%= link_to '이 학우님이 현재 수강하는 과목 목록 보기', parsers_path(:student => find_by_key(profile, 'userid')) %>
                          <% end %>
                          <a href="#">학우님에게 메세지 남기기</a>
                        </div>
                      </div>
                    </li>
                <% end %>
            <% end %>
          </ul>
        </div>
      </div>
    </li>
  </ul>
</div>