<div class="col s12">
  <ul class="collapsible" data-collapsible="accordion">
    <li>
      <% if current_user.has_role? :admin %>
          <div class="collapsible-header profile-header">
            <span class="badge">자세히 보기</span><i class="fa <%= sex_icon(@target_user.gender) %>" aria-hidden="true"></i><%= @target_user.name %>
            학우님
          </div>
          <div class="card white darken-1 collapsible-body profile-body">
            <div class="card-content dark-text">
            <span class="card-title"><%= @target_user.department_name %> <%= @target_user.major_name %> <%= @target_user.recent_grade %>
              학년 (<%= @target_user.student.split(//).first(4).join %>년도 입학)</span>
              <div class="card-info col s9 m9 l9">
                관리자계정용 정보<br>
                이름 : <%= @target_user.name %>(<%= @target_user.birth %>)<br>
                한문 : <%= @target_user.chinese_name %><br>
                영문 : <%= @target_user.english_name %><br>
                소속 : <%= @target_user.campus=='1' ? '서울캠퍼스' : '안성캠퍼스or기타' %><br>
                폰번 : <%= find_by_key(@response[1], 'cocthand') %><br>
                메일 : <%= find_by_key(@response[1], 'email') %><br>
                주소 : <%= find_by_key(@response[1], 'coctadr1') %> <%= find_by_key(@response[1], 'coctadr2') %><br>
                본가 : <%= find_by_key(@response[1], 'parsadr1') %> <%= find_by_key(@response[1], 'parsadr2') %><br>
                <hr>
                <% @professor_data.each_with_index do |semester, index| %>
                    <% if semester.present? and index == 5 %>
                        <table>
                          <% semester.split('><').each do |unit| %>
                              <%= unit.split('=')[1] %><br>
                          <% end %>
                        </table>
                    <% end %>
                <% end %>
              </div>
              <div class="card-image col s3 m3 l3">
                <%= image_tag "http://cauid.cau.ac.kr/Symtra_Issue/IssueShowImage.asp?IDNo=#{@target_user.student}", src: 'Image Not Found', onerror: 'this.error=null;this.src="/assets/no_user.png"' %>
              </div>
            </div>
            <div class="card-action">
              <% unless params[:controller]=='parsers' %>
                  <a href="#">이 학우님이 현재 수강하는 과목 목록 보기</a>
              <% end %>
              <a href="#">학우님에게 메세지 남기기</a>
            </div>
          </div>
      <% else %>
          <div class="collapsible-header profile-header">
            <span class="badge">자세히 보기</span><i class="fa <%= sex_icon(current_user.gender) %>" aria-hidden="true"></i><%= current_user.name %>
            학우님
          </div>
          <div class="card white darken-1 collapsible-body profile-body">
            <div class="card-content dark-text">
              <span class="card-title"><%= current_user.department_name %> <%= current_user.major_name %> <%= current_user.recent_grade %>
                학년 (<%= current_user.student.split(//).first(4).join %>년도 입학)</span>
            </div>
            <div class="card-action">
              <% unless params[:controller]=='parsers' %>
                  <a href="#">이 학우님이 현재 수강하는 과목 목록 보기</a>
              <% end %>
              <a href="#">학우님에게 메세지 남기기</a>
            </div>
          </div>
      <% end %>
    </li>
  </ul>
</div>

