<div class="container">
  <div class="row">
    <%= render :partial => "#{component('card', 'notice')}", :locals => {:notice => @info} %>
  </div>
  <div class="row">
    <%= render :partial => "#{component('card', 'person')}", :locals => {:person => @info} %>
    <%= render :partial => "#{component('card', 'classnotice')}", :locals => {:classnotice => @notice} %>
    <% resolve(@course.split("<vector id='resList'>")[1], '</map>').each do |k| %>
        <% if filter_by_subdata(k, 'msg') %><!-- 메세지 값 필터 -->
            <% unless find_by_key(k, 'clsefg')=='Y' %><!-- 폐강된 수업 필터 -->
                <%= render :partial => "#{component('card', 'course')}", :locals => {:course => k} %>
            <% end %>
        <% end %>
    <% end %>
  </div>
</div>

공지사항데이터
<hr>
테스트데이터
<%= @course.split("<vector id='resList'>")[1] %>
<hr>
유저 데이터
<%= @info %>
<hr>
과목 데이터
<%= @course_simple %>
<hr>
<% resolve(@course_simple, '</map>').each do |k| %>
    <% if filter_by_subdata(k, 'msg') %>
        <%= k %>
        <hr>
    <% end %>
<% end %>