<h1>1번째 데이터</h1>
<div class="box">
  <% resolve(@test,'/><').each do |k| %>
      <% if informatic(k) %>
          <h3><%= key(k) %> : <%= value(k) %></h3>
      <% end %>
  <% end %>
  <hr>
  <% resolve(@info,'/><').each do |k| %>
      <% if informatic(k) %>
          <h3><%= key(k) %> : <%= value(k) %></h3>
      <% end %>
  <% end %>
  <hr>
  <% resolve(@course,'/><').each do |k| %>
      <% if informatic(k) %>
          <h3><%= key(k) %> : <%= value(k) %></h3>
      <% end %>
  <% end %>
</div>

<div class="box">
  <div class="row">
    <% resolve(@course,'</map>').each do |k| %>
        <% if filter_by_subdata(k, 'msg') %>
        <%= render :partial => "#{component('card', 'course')}", :locals => {:course => k } %>
        <% end %>
    <% end %>
  </div>
</div>