<h1>1번째 데이터</h1>
<div class="box">
  <% resolve(@test).each do |k| %>
      <% if informatic(k) %>
          <h3><%= key(k) %> : <%= value(k) %></h3>
      <% end %>
  <% end %>
  <hr>
  <% resolve(@info).each do |k| %>
      <% if informatic(k) %>
          <h3><%= key(k) %> : <%= value(k) %></h3>
      <% end %>
  <% end %>
  <hr>
  <% resolve(@course).each do |k| %>
      <% if informatic(k) %>
          <h3><%= key(k) %> : <%= value(k) %></h3>
      <% end %>
  <% end %>
</div>
