<div class="fixed-action-btn toolbar">
  <a class="btn-floating btn-large teal">
    <i class="fa fa-bars"></i>
  </a>
  <ul>
    <li class="waves-effect waves-light">
      <% if current_user.has_role? :admin %>
        <li class="waves-effect waves-light"><a href="/admin">관리자</a></li>
      <% else %>
        <li class="waves-effect waves-light"><a href="www.cau.ac.kr">Astro</a></li>
      <% end %>
    </li>
    <li class="waves-effect waves-light">
      <% if user_signed_in? %>
        <li class="waves-effect waves-light"><a href="/parsers?student=<%= current_user.student %>"></a></li>
      <% else %>
        <li class="waves-effect waves-light"><%= link_to '로그인', new_user_session_path %></li>
      <% end %>
    </li>
      <% if user_signed_in? %>
        <li class="waves-effect waves-light"><%= link_to '로그아웃', destroy_user_session_path, method: 'delete' %></li>
      <% else %>
        <li class="waves-effect waves-light"><%= link_to '로그인', new_user_session_path %></li>
      <% end %>
    <li class="waves-effect waves-light"><%= link_to '채팅', messages_path, class: 'btn btn-outline-primary' %></li>
  </ul>
</div>